{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Log in" %}{% endblock %}
{% block page %}
<div class="login">
  <form method="post">
    <div class="modal-header">
      <h3>{% trans "Log in" %}</h3>
    </div>
    <fieldset>
    <div class="modal-body clearfix">
      {% include "_form_body.html" %}
    </div> <!-- modal-body clearfix -->
    {% if next %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ next }}" />
    {% endif %}
    {% csrf_token %}
    </fieldset>
    <div class="modal-footer">
      <button type="submit" value="login" class="btn btn-primary pull-right">
      {% trans "Log in" %}
      </button>
    </div> <!-- form-actions -->
  </form>
</div> <!-- login -->
{% endblock %}