# Django developemnt settings for gunclub project.

DEBUG = True
TEMPLATE_DEBUG = DEBUG

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'development.sqlite3',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}

TIME_ZONE = "UTC"
LANGUAGE_CODE = 'en-us'
USE_I18N = False 
USE_L10N = False 
USE_TZ = False 

INSTALLED_APPS = (
)
