{% extends "base_navbar.html" %}
{% load i18n %}
{% load tz %}
{% block brand-url %}{% url user_dashboard %}{% endblock %}
{% block content %}
<h2>{% trans "Invoices for:" %} {{ month }}</h2>

{% localtime off %}
{% for day in date_list %}
	<p>{{ day }}</p>
{% endfor %}
{% endlocaltime %}

<p>Next month: {{ next_month }}</p>
<p>Previous month: {{ previous_month }}</p>


<p>{% trans "Open invoices:" %} {{ open_invoices }}</p>
<p>{% trans "Paid invoices:" %} {{ paid_invoices }}</p>

{% endblock content %}