{% extends "base_navbar.html" %}
{% load i18n %}
{% load tz %}
{% block content %}
<h2>{% trans "Invoices" %}</h2>
<ul class="pager">
	{% if not previous_month %}
  <li class="disabled">
  {% else %}
  <li>
  {% endif %}
  	<a href="{%url invoice_month %}?month={{ previous_month|date:"b" }}&amp;year={{ month|date:"Y" }}">
  		&larr; {% trans "Previous" %}
  	</a>
  </li>
  <li>
  	<a href="{%url invoice_month %}?month={{ month|date:"b" }}&amp;year={{ month|date:"Y" }}">
  		{{ month|date:"F Y" }}
  	</a>
  </li>
	{% if not next_month %}
  <li class="disabled">
  {% else %}
  <li>
  {% endif %}
  	<a href="{%url invoice_month %}?month={{ next_month|date:"b" }}&amp;year={{ month|date:"Y" }}">
  		{% trans "Next" %} &rarr;
  	</a>
  </li>
</ul> <!-- pager -->

<div class="pagination">
	<ul>
	{% localtime off %}
	{% for day in date_list %}
		<li>
			<a href="{%url invoice_day %}?day={{ day|date:"d" }}&amp;month={{ day|date:"b" }}&amp;year={{ day|date:"Y" }}">
				{{ day|date:"d" }}
			</a>
		</li>
	{% endfor %}
	{% endlocaltime %}
	</ul>
</div> <!-- pagination -->
{% endblock content %}