body {
  color: #444444;
  font-size: 13px;
  font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
}

a {
  color: #306d9c;
  text-decoration: none;
}

textarea {
  color: #444444;
  font-size: 13px;
  font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
}

form li {
  padding: 5px 0 5px 0;
}

form label {
  display: block;
  padding: 0 0 5px;
  font-weight: bold;
}

table {
  width: 100%;
}

td, th {
  padding: 5px;
  max-width: 500px;
  border-bottom: 1px solid #ddd;
  font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
}

th {
  text-align: left;
  font-weight: bold;
}

img {
  border: none;
}

.login {
  width: 350px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto; 
  background: white url('/static/img/logo2.png') no-repeat center 15px;
  border: 1px solid #e1e1e1;
  max-height: none;
  padding-top: 140px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.login input[type=text], .login input[type=password] {
  width: 96%;
}

.login form {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.sidebar {
  /**background-color: #bbd8e9;**/
  padding-top: 10px;
}

.content {
  /**background-color: #dceaf4;**/
  padding-top: 10px;
}

.controls {
  padding-bottom: 20px;
}

.pagination {
  text-align: center;
}