{% extends "base_two_column.html" %}
{% load i18n %}
{% block brand-url %}{% url admin_dashboard %}{% endblock %}
{% block menu %}
<li class="active"><a href="#">Member</a></li>
<li><a href="#">Invoice</a></li>
{% endblock menu %}
{% block content %}
<div class="modal" id="addMemberForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">{% trans "Edit member" %}</h3>
  </div> <!-- modal-header -->
  <form method="post" action="{% url add_member %}">{% csrf_token %}
    <fieldset>
      <div class="modal-body">
        {% include "_form_body.html" %}
      </div> <!-- modal-body -->
    <fieldset>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">
      Close
      </button>
      <input type="submit" class="btn btn-primary" value="{% trans "Save" %}">
    </div> <!-- modal-footer -->
  </form>
</div>
{% endblock content %}