{% extends "base_navbar.html" %}
{% load i18n %}
{% block content %}
<div>
  <div class="modal-header">
    <h2>{% trans "Edit member" %}</h2>
  </div> <!-- modal-header -->
  <form class="form-horizontal" method="post" action="{% url edit_member member_id %}">{% csrf_token %}
    <fieldset>
      <div class="modal-body">
        {% include "_form_body.html" %}
      </div> <!-- modal-body -->
    <fieldset>
    <div class="modal-footer">
      <input type="submit" class="btn btn-primary" value="{% trans "Add member" %}">
    </div> <!-- modal-footer -->
  </form>
</div>
{% endblock content %}
