{% extends "base_two_column.html" %}
{% load pagination_tags %}
{% load i18n %}
{% block brand-url %}{% url admin_dashboard %}{% endblock %}
{% block menu %}
<li class="active"><a href="#">Member</a></li>
<li><a href="#">Invoice</a></li>
{% endblock menu %}
{% block content %}
<div class="modal hide fade" id="addMemberForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
    aria-hidden="true">
    ×
    </button>
    <h3 id="myModalLabel">{% trans "Add member" %}</h3>
  </div> <!-- modal-header -->
  <form method="post" action="{% url add_member %}">{% csrf_token %}
    <fieldset>
      <div class="modal-body">
        {% include "_form_body.html" %}
      </div> <!-- modal-body -->
    <fieldset>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">
      Close
      </button>
      <input type="submit" class="btn btn-primary" value="{% trans "Add member" %}">
    </div> <!-- modal-footer -->
  </form>
</div>
<div class="controls pull-right">
  <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addMemberForm">
    <i class="icon-plus icon-white"></i> {% trans "New member" %}
  </button>
</div> <!-- controls pull-right -->
<form class="form-search" action="{% url haystack_search %}" method="get">
  <input type="text" name="q" class="input-medium search-query">
  <button type="submit" class="btn">
    <i class="icon-search"></i> {% trans "Search" %}
  </button>
</form> <!-- form-search -->
{% if members %}
{% autopaginate members %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>{% trans "First name" %}</th>
      <th>{% trans "Last name" %}</th>
      <th>{% trans "Username" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for member in members %}
  <tr class="{% cycle 'row1' 'row2' %}">
    <td>{{ member.first_name }}</td>
    <td>{{ member.last_name }}</td>
    <td>{{ member.username }}</td>
    <td>
      <a class="btn btn-inverse" href="">
        <i class="icon-list-alt icon-white"></i> {% trans "View" %}
      </a>
      <a class="btn btn-inverse" href="{% url edit_member member.id %}">
        <i class="icon-edit icon-white"></i> {% trans "Edit" %}
      </a>
      <a class="btn btn-inverse" href="">
        <i class="icon-barcode icon-white"></i> {% trans "Invoice" %}
      </a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert alert-info">
  <p>{% trans "There are no users here at the moment." %}</p>
</div>
{% endif %}
{% paginate %}
{% endblock content %}