{% extends "base_two_column.html" %}
{% load i18n %}
{% block brand-url %}{% url admin_dashboard %}{% endblock %}
{% block menu %}
<li class="active"><a href="#">Member</a></li>
<li><a href="#">Invoice</a></li>
{% endblock menu %}
{% block content %}
<div class="modal hide fade" id="addMemberForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
    aria-hidden="true">
    ×
    </button>
    <h3 id="myModalLabel">{% trans "Add member" %}</h3>
  </div> <!-- modal-header -->
  <form method="post" action="{% url add_member %}">{% csrf_token %}
    <fieldset>
      <div class="modal-body">
        {% include "_form_body.html" %}
      </div> <!-- modal-body -->
    <fieldset>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">
      Close
      </button>
      <input type="submit" class="btn btn-primary" value="{% trans "Add member" %}">
    </div> <!-- modal-footer -->
  </form>
</div>
<div class="controls pull-right">
  <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addMemberForm">{% trans "New member" %}</button>
  <button class="btn btn-danger disabled" type="button">
    {% trans "Delete" %}
  </button>
</div> <!-- controls pull-right -->
<form class="form-search">
  <input type="text" class="input-medium search-query">
  <button type="submit" class="btn">{% trans "Search" %}</button>
</form> <!-- form-search -->
{% if members %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>{% trans "First Name" %}</th>
      <th>{% trans "Last Name" %}</th>
      <th>{% trans "Username" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for member in members %}
  <tr class="{% cycle 'row1' 'row2' %}">
    <td><input type="checkbox"></td>
    <td>{{ member.frist_name }}</td>
    <td>{{ member.last_name }}</td>
    <td><a href="#">{{ member.username }}</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert alert-info">
  <p>{% trans "There are no users here at the moment." %}</p>
</div>
{% endif %}
<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
{% endblock content %}